div {
  text-align: center;
}

form {
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

form input {
  box-sizing: border-box;
  padding: 6px;
  text-align: center;
  margin: 5px;
  display: block;
}

button {
  background-color: white;
  border: solid 1.5px lightgray;
  border-radius: 1px;
  box-sizing: border-box;
  padding: 8px 13px;
  color: black;
  letter-spacing: 1px;
}
